<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="/font/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/image/logo-black.png">
    <title>CRM</title>
</head>

<body>
    <div class="main">
        <header>
            <!-- header__main -->
            <div class="header__main">
                <!-- header__first -->
                <div class="header__first">
                    <div class="header__first-logo">
                        <a class="header__first-logo-link" href="/">
                            <img src="/image/logo-black.png" alt="">
                        </a>
                    </div>
                    <!-- header__first-input -->
                    <div class="header__first-input">
                        <form class="header__first-form" action="">
                            <input class="header__first-form-input" type="text" name=""
                                placeholder="Tìm Kiếm Hoặc Gõ Lệnh (Ctrl + G)">
                            <button class="header__first-form-btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- header__second -->
                <div class="header__second">
                    <ul class="header__second-list">
                        <li class="header__second-item"><i class="fa-regular fa-bell"></i></li>
                        <li class="header__second-item">|</i></li>
                        <li class="header__second-item help"><a href="#">Trợ Giúp <i
                                    class="fas fa-chevron-down"></i></a></li>
                        <form action="/logout" method="post" style="display: inline;" id="logoutForm">
                            <li class="header__second-item"><label for="logout" class="fas fa-user-circle"></label>
                                <input type="checkbox" name="" class="ohyes" id="logout" hidden>
                                <label for="logout" class="overlay1"></label>
                                <ul class="logout">
                                    <!-- <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li> 
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li> -->
                                    <li>
                                        <a href="#"
                                            onclick="document.getElementById('logoutForm').submit(); return false;">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
        </header>

        <nav>
            <div class="nav__main">
                <!-- nav__first -->
                <div class="nav__first">
                    <ul class="nav__first-list-PC">
                        <li class="nav__first-item"><i class="fa-solid fa-bars toggle_menu"></i></li>
                        <li class="nav__first-item">
                            <span class="nav__first-item-span">CRM</span>
                        </li>
                    </ul>
                    <ul class="nav__first-list-MOBILE">
                        <li class="nav__first-item"><label for="nav-mobile-input" class="fa-solid fa-bars"></label></li>
                        <li class="nav__first-item">
                            <span class="nav__first-item-span">Trang Chủ</span>
                        </li>
                    </ul>
                    <input type="checkbox" name="" class="ohno" id="nav-mobile-input" hidden>
                    <label for="nav-mobile-input" class="overlay"></label>
                    <div class="sidebar__mobile">
                        <div class="sidebar__title">BỘ PHẬN</div>
                        <div class="sidebar__list">
                            <a class="sidebar__list-item" href="/">Trang chủ</a>
                            <a class="sidebar__list-item" href="#">Kế toán</a>
                            <a class="sidebar__list-item" href="#">Tài Sản</a>
                            <a class="sidebar__list-item" href="#">Build</a>
                            <a class="sidebar__list-item" href="#">Mua hàng</a>
                            <a class="sidebar__list-item sidebar__list-item-chosen" href="/crm">CRM</a>
                            <a class="sidebar__list-item" href="#">Nhân Sự</a>
                            <a class="sidebar__list-item" href="#">Khoản Vay</a>
                            <a class="sidebar__list-item" href="#">Bảng Lương</a>
                            <a class="sidebar__list-item" href="#">Dự án</a>
                            <a class="sidebar__list-item" href="#">Chất lượng</a>
                            <a class="sidebar__list-item" href="#">Bán hàng</a>
                            <a class="sidebar__list-item" href="#">Kho</a>
                            <a class="sidebar__list-item" href="#">Hỗ trợ</a>
                            <a class="sidebar__list-item" href="#">Website</a>
                            <a class="sidebar__list-item" href="#">Cài Đặt</a>
                            <a class="sidebar__list-item" href="#">Tiện Ích</a>
                        </div>
                        <div class="sidebar__list">
                            <div class="sidebar__title">TÊN MIỀN</div>
                            <a class="sidebar__list-item" href="#">Sản xuất</a>
                        </div>
                        <div class="sidebar__list">
                            <div class="sidebar__title">QUẢN TRỊ</div>
                            <a class="sidebar__list-item" href="#">Tùy biến</a>
                            <a class="sidebar__list-item" href="#">Tích hợp</a>
                            <a class="sidebar__list-item" href="#">Công cụ</a>
                            <a class="sidebar__list-item" href="#">Người sử dụng</a>
                        </div>
                    </div>
                </div>

                <!-- nav__second -->
                <div class="nav__second">
                    <form class="nav__second-form-first" action="">
                        <button class="nav__second-btn-first" type="submit">Tùy Chỉnh</button>
                    </form>
                    <form class="nav__second-form-second" action="">
                        <button class="nav__second-btn-second" type="submit">...</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- content -->
        <div class="content">
            <!-- sidebar -->
            <div class="sidebar__PC">
                <div class="sidebar__title">BỘ PHẬN</div>
                <div class="sidebar__list">
                    <a class="sidebar__list-item" href="/">Trang chủ</a>
                    <a class="sidebar__list-item" href="#">Kế toán</a>
                    <a class="sidebar__list-item" href="#">Tài Sản</a>
                    <a class="sidebar__list-item" href="#">Build</a>
                    <a class="sidebar__list-item" href="#">Mua hàng</a>
                    <a class="sidebar__list-item sidebar__list-item-chosen" href="/crm">CRM</a>
                    <a class="sidebar__list-item" href="#">Nhân Sự</a>
                    <a class="sidebar__list-item" href="#">Khoản Vay</a>
                    <a class="sidebar__list-item" href="#">Bảng Lương</a>
                    <a class="sidebar__list-item" href="#">Dự án</a>
                    <a class="sidebar__list-item" href="#">Chất lượng</a>
                    <a class="sidebar__list-item" href="#">Bán hàng</a>
                    <a class="sidebar__list-item" href="#">Kho</a>
                    <a class="sidebar__list-item" href="#">Hỗ trợ</a>
                    <a class="sidebar__list-item" href="#">Website</a>
                    <a class="sidebar__list-item" href="#">Cài Đặt</a>
                    <a class="sidebar__list-item" href="#">Tiện Ích</a>
                </div>

                <div class="sidebar__list">
                    <div class="sidebar__title">TÊN MIỀN</div>
                    <a class="sidebar__list-item" href="#">Sản xuất</a>
                </div>

                <div class="sidebar__list">
                    <div class="sidebar__title">QUẢN TRỊ</div>
                    <a class="sidebar__list-item" href="#">Tùy biến</a>
                    <a class="sidebar__list-item" href="#">Tích hợp</a>
                    <a class="sidebar__list-item" href="#">Công cụ</a>
                    <a class="sidebar__list-item" href="#">Người sử dụng</a>
                </div>
            </div>

            <!-- content__main -->
            <div class="content__main">
                <div class="content__main-title">Lối Tắt</div>
                <div class="content__main-list-shortcut">
                    <div class="content__main-item-shortcut one"><span>Khách hàng tiềm năng</span></div>
                    <div class="content__main-item-shortcut three"><span>Cơ hội</span></div>
                    <div class="content__main-item-shortcut two"><span>Danh Sách Khách Hàng</span></div>
                    <div class="content__main-item-shortcut four"><span>Phân tích bán hàng</span></div>
                    <div class="content__main-item-shortcut five"><span>Bảng thông tin tổng hợp</span></div>
                </div>

                <div class="clear"></div>

                <div class="content__main-title">Báo Cáo & Tính năng chính</div>
                <div class="content__main-list-report">
                    <div class="content__main-item-report">
                        <span class="c2_4-title"><i class="far fa-list-alt"></i> Bán hàng</span>
                        <a href="/lead"><span class="content__main-item-true">&#8226;</span> Khách hàng tiềm năng</a>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Cơ hội</a>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Danh Sách Khách Hàng</a>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Liên lạc</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Hội thoại</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Nguồn khách hàng tiềm
                            năng</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Hợp đồng</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Cuộc hẹn</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Đăng ký nhận bản
                            tin</a>
                    </div>
                    <div class="content__main-item-report">
                        <span class="c2_4-title"><i class="far fa-list-alt"></i> Báo cáo</span>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Chi tiết khách hàng tiềm
                            năng</a>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Triển vọng tham gia nhưng
                            không..</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Thời gian phản hồi đầu
                            tiên cho cơ..</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Khách hàng không được
                            kích hoạt</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Hiệu quả Chiến dịch</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Hiệu quả Chủ đầu tư</a>
                    </div>
                    <div class="content__main-item-report">
                        <span class="c2_4-title"><i class="far fa-list-alt"></i> Bảo trì</span>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Lịch trình bảo trì</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Chuyến thăm bảo trì</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Yêu cầu bảo hành</a>
                    </div>
                    <div class="content__main-item-report">
                        <span class="c2_4-title"><i class="far fa-list-alt"></i> Chiến dịch</span>
                        <a href="./lead.html"><span class="content__main-item-report-false">&#8226;</span> Chiến
                            dịch</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Chiến dịch email</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Bài đăng trên mạng xã
                            hội</a>
                    </div>
                    <div class="content__main-item-report">
                        <span class="c2_4-title"><i class="far fa-list-alt"></i> Cài đặt</span>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Nhóm khách hàng</a>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Quốc gia</a>
                        <a href="#"><span class="content__main-item-true">&#8226;</span> Nhân viên bán hàng</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Trung tâm nhắn tin
                            SMS</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Nhật ký tin nhắn</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Thiết lập tin nhắn
                            SMS</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Email nhóm</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Cài đặt Twitter</a>
                        <a href="#"><span class="content__main-item-report-false">&#8226;</span> Cài đặt Linkedln</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <script src="/js/home.js">
        </script>
</body>

</html>