* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    position: relative;
}

/* ==Header__home== */
header {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 1px 0 gray;
    /* box-shadow: x y độdàicủađổbóng mặcđịnh4cạnhlà0 color */
}

.header__main {
    display: flex;
    max-width: 1258px;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.header__first {
    width: 85%;
    height: 100%;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__first-logo{
    flex-basis: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__first-logo img {
    width: 24px;
    height: 24px;
}

.header__first-logo a{
    text-decoration: none;
    color: #1f272e;
}

.header__first-input {
    flex-basis: 300px;
    margin: 0 15px;
}

.header__first-form {
    height: 36px;

    margin-right: 36px;
    position: relative;
}

.header__first-form-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: 36px;
}

.header__first-form-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
}

.header__first-form-input:focus {
    /* Không hiện đường viền */
    outline: none;
}

.header__second {
    width: 15%;
    height: 100%;
}

.header__second-list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__second-item a {
    text-decoration: none;
}

.fa-user-circle:hover{
    cursor: pointer;
}

.header__second-item:last-child {
    position: relative;
}

.header__second-item:last-child .logout{
    width: 190px;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 4px;
    list-style: none;
    margin-top: 2px;
    box-shadow: 0 0 5px 0.2px rgb(216, 206, 206);
    border-radius: 5px;
    z-index: 1000;
    background-color: #fff;
    display: none;
    /* đợi */
}

.header__second-item:last-child .logout > li{
    width: 100%;
}

.header__second-item:last-child .logout > li >a{
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #1F272E;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
}

.header__second-item:last-child .logout > li a:hover{
    background-color: #d4d9de;
    cursor: pointer;
}

/* ==Nav__home== */
nav {
    width: 100%;
    height: 75px;
}

.nav__main {
    display: flex;
    margin: 0 auto;
    max-width: 1260px;
    height: 100%;
    padding: 0 15px;
}

.nav__first {
    flex-basis: 60%;
    height: 100%;
    padding: 0 15px;
}

.nav__first-list-MOBILE {
    display: none;
}

.nav__first-list-PC,
.nav__first-list-MOBILE {
    list-style: none;
}

.nav__first-list-PC {
    display: flex;
    align-items: center;
}

.nav__first-item {
    display: flex;
    line-height: 75px;
}

.nav__first-item-span {
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}

.nav__first-item:hover {
    cursor: pointer;
}

/* nav pc second */
.nav__second {
    flex-basis: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15px;
}

.nav__second>button {
    flex-basis: 23px;
    height: 28px;
    padding: 4px 10px;
    margin-right: 5px;
    color: #fff;
    background-color: #2490EF;
    border-radius: 5px;
    border: none;
}

.nav__second>button:hover{
    cursor: pointer;
}

/* =======content========= */
.content {
    display: flex;
    max-width: 1290px;
    height: calc(100vh - 135px);
    margin: 0 auto;
}

.sidebar {
    flex-basis: 170px;
    padding: 0 30px 0 15px;
    display: flex;
    flex-direction: column;
}

.profile-pic {
    flex-basis: 170px;
    height: 170px;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
    color: #007bff;
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    /* top: 100%;
	left: 50%;
	transform: translateX(-50%); */
    cursor: pointer;
    margin-top: 10px;
    color: #007bff;
    text-decoration: underline;
}

.delete-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 101%;
	left: 70%;
    color: red;
    display: none;
    background-color: #2490EF;
}

.delete-btn:hover{
    cursor: pointer;
}

.sidebar .up__file{
    list-style: none;

}

.file__title{
    color: #687178;
    margin-bottom: 8px;
}


.file__link > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 28px;
    width: 28px;
    box-shadow: 0 0 5px 1px rgb(216, 206, 206);
    border-radius: 50px;
    margin-bottom: 8px;
}

.up__file-item{
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 0 1px 1px rgb(179, 177, 177);

}

.up__file-item > label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
}

.file_input{
    display: flex;
}

.file_input > input{
    width: 90%;
    height: 27.6px;
    border: none;
    border-radius: 5px;
}

.file_input > input:focus{
    outline: none;
}
/* ================= */

.content__main {
    flex-basis: 1045px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content__row_first {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 37.1px;
}

.content__row_first>input {
    max-width: 12.4px;
    height: 12.4px;
}

.content__row_first>span {
    color: #333C44;
    margin-left: 7px;
}

.content__row-active,
.content__row {
    flex-basis: 100%;
    max-height: max-content;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 5px 0.2px rgb(216, 206, 206);
}


.content__column_two {
    flex-basis: 50%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.title__column_two {
    height: 24.6px;
    margin-bottom: 5px;
}

.title__column_two>label {
    color: #333C44;
    font-size: 12px;
}

.row_two__select {
    height: 35px;
    display: flex;
}

.row_two__select>select {
    flex-basis: 100%;
    height: 100%;
    padding: 6px 12px;
    border: 0.8px solid grey;
    border-radius: 5px;
}

.row_two__input {
    display: flex;
}

.row_two__input>input {
    flex-basis: 100%;
    height: px;
    padding: 6px 12px;
    border: 0.8px solid grey;
    border-radius: 5px;
}

.row_two__checkbox {
    height: 21.1px;
    margin-bottom: 15px;
}

/* ================================ */
.content__main.expand {
    flex-basis: 100%;
    left: 0;
}

.sidebar.hide {
    display: none;
}

/* theo sát */
.collapsible-section {
    flex-basis: 100%;
}

.section-title {
    cursor: pointer;
    user-select: none;
}

.toggle-icon {
    float: right;
    transition: transform 0.3s ease;
}

.section-content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

.section-title.active .toggle-icon {
    transform: rotate(180deg);
}

.section-title.active+.section-content {
    max-height: 1000px;
}

/*============== reponsive ======= */
.toggle_menu{
    display: none;
}

@media only screen and (min-width: 991px) {
    .nav__first-list-MOBILE{
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 991px) {
    .sidebar{
        display: none;
    }

    .help{
        display: none;
    }
    
    .nav__first-list-PC{
        display: none;
    }

    .nav__first{
        flex-basis: 70%;
    }

    .nav__first-list-MOBILE{
        display: block;
        align-items: center;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .nav__first-item-span{
        font-size: 14px;
    }

    .nav__second{
        flex-basis: 30%;
    }

    .no_active{
        display: none;
    }
    
}

/* mobile: <575px */
@media only screen and (max-width: 575px) {
   .content__row{
    flex-direction: column;
   }
}

/* mobile: <768px */
@media only screen and (max-width: 767px) {
    .header__main{
        max-width: 508px;
    }
    
    .nav__main {
        max-width: 510px;
    }

    .content__main{
        max-width: 510px;
        margin: 0 auto;
    }
}

/* tablet: >768px - <992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__main{
        max-width: 808px;
    }
    
    .nav__main {
        max-width: 810px;
    }

    .content__main{
        max-width: 810px;
        margin: 0 auto;
    }
}


/* PC: >992px - <1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header__main{
        max-width: 1058px;
    }
    
    .nav__main {
        max-width: 1060px;
    }

    .content{
        max-width: 1060px;
    }

    .content__main{
        max-width: 1060px;
        margin: 0 auto;
    }
}

/* Ẩn hiện sidebar */
.overlay,
.overlay1{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    animation: fadeIn linear 0.2s;
}

.overlay1{
    background-color: rgba(0, 0, 0, 0);
}

.ohno:checked ~ .overlay,
.ohyes:checked:checked ~ .overlay1{
    display: block;
}

.ohyes:checked:checked ~ .logout{
    display: block;
}

.ohno:checked ~ .sidebar__mobile{
    transform: translateX(0%);
}

.sidebar__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
    z-index: 1000;
}

.ohno:checked ~ .sidebar__mobile{
    transform: translateX(0%);
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* ZERO */

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between items */
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #007bff; /* Change color as desired */
}

.breadcrumb-item.active {
    color: #007bff; /* Color for active item */
}

.breadcrumb-item:not(.active)::after {
    content: ">";
    margin-left: 8px;
}


#file-name-display {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#file-name-display li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#existing-files-display{
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
#existing-files-display li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar{
    width:215px;
}