* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    
.main{
    position: relative;
    background-color: #f9fafa;
}
    
/* ==Header__home== */
    header{
        width: 100%;
        height: 60px;
        box-shadow: 0 1px 1px 0 gray; /* box-shadow: x y độdàicủađổbóng mặcđịnh4cạnhlà0 color */
    }
    
    .header__main{
        display: flex;
        max-width: 1258px;
        height: 100%;
        padding: 0 16px;
        margin: 0 auto;
    }
    
    .header__first{
        width: 85%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__first-input{
        margin: 0 15px;
        flex-basis: 300px;
    }
    
    .header__first-logo img {
        width: 24px;
        height: 24px;
    }
    
    .header__first-form{
        height: 36px;
        
        margin-right: 36px;
        position: relative;
    }
    
    .header__first-form-input{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0 5px 5px 0;
        margin-left: 36px;
        background-color: #f4f5f6;
    }
    
    .header__first-form-btn{
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 100%;
        border: none;
        border-radius: 5px 0 0 5px;
        background-color: #f4f5f6;
    }
    
    .header__first-form-input:focus{
        /* Không hiện đường viền */
        outline: none;
    }
    
    .header__second{
        width: 15%;
        height: 100%;
    }
    
    .header__second-list{
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .header__second-item a{
        text-decoration: none;
    }
/* =============================================== */
/* nav pc */
nav{
    width: 100%;
    height: 75px;
}
    
.nav__main{
    display: flex;
    margin: 0 auto;
    max-width: 1260px;
    height: 100%;
    padding: 0 15px;
}
    
.nav__first{
    flex-basis: 400px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.nav__first-list-MOBILE{
    display: none;
}
    
.nav__first-list-PC,
.nav__first-list-MOBILE
{
    list-style: none;
}

.nav__first-list-PC{
    display: flex;
    flex-basis: 100%;
    height: 26px;
}
    
.nav__first-item-span{
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
}

.nav__first-item:hover{
    cursor: pointer;
}
    
/* nav pc second */
.nav__second{
    flex-basis: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15px;
}

.nav__second-l{
    flex-basis: 190.8px;
    height: 28px;
    margin-left: 8px;
}

.nav__second-l > button{
    width: 100%;
    height: 100%;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
}

.nav__second-r{
    flex-basis: 291.325px;
    height: 28px;
    display: flex;
}

.reset,
.dot{
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: none;
    margin-left: 8px;
}

.add-KHTN{
    width: 230px;
    margin-left: 8px;
    border: none;
    display: flex;
    background-color: #fff;
}

.action__insert_delete{
    display: none;
    position: relative;
    width: 88px;
    margin-left: 8px;
    border: none;
    color: #fff;
    background-color: #2490EF;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.action__insert_delete{
    cursor: pointer;
}

.action{
        width: 190px;
        position: absolute;
        right: 0; 
        top: 30px; 
        padding: 4px;
        list-style: none;
        margin-top: 2px;
        box-shadow: 0 0 5px 0.2px rgb(216, 206, 206);
        border-radius: 5px;
        z-index: 1000;
        background-color: #fff;
        display: none;
        /* đợi */
}

.action > li{
    width: 100%;
}

.action > li >a{
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #1F272E;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
}

.action > li a:hover{
    background-color: #d4d9de;
    cursor: pointer;
}

.overlay2{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    z-index: 1000;
    animation: fadeIn linear 0.2s;
}

.ohno_b_yes:checked ~ .overlay2{
    display: block;
}

.ohno_b_yes:checked ~ .action{
    display: block;
}

.add-KHTN > a{
    width: 230px;
    padding: 4px 10px;
    margin-left: 8px;
    background-color: #2490EF;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

 /* ==Content== */
.content{
    display: flex;
    max-width: 1290px;
    height: calc(100vh - 135px);
    background-color: #f9fafa;
    margin: 0 auto;
}

.content__main{
    flex-basis: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* ============================ */
.content__main.expand{
    flex-basis: 100%;
}

.sidebar.hide{
    display: none;
}

.sidebar__mobile,
.sidebar{
    flex-basis:  215px;
    padding: 0 30px 0 15px;
    display: flex;
    flex-direction: column;
}

.sidebar__first{
    max-width: 100%;
}

.sidebar__second{
    margin-top: 10px;
}

.sidebar__second > .sidebar__list,
.sidebar__first > .sidebar__list{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar__second > .sidebar__list li,
.sidebar__first > .sidebar__list li {
    flex-basis: 100%;
    margin-bottom: 8px;
}

.sidebar__list .sidebar__list-item a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    box-shadow: 0 0 5px 0.3px rgb(216, 206, 206);
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    color: #1f272e;
}

.sidebar__list .sidebar__title-link a{
    color: #2490EF;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

.sidebar__input{
    padding: 6px 12px;
    border: none;
    background-color: #ebeef0;
    border-radius: 5px;
}

/* ================= */
.c2_KHTN{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 15px;
    box-shadow: 0 0 5px 0.2px rgb(216, 206, 206);
    background-color: #fff;
} 

.content-header{
    flex-basis: 100%;
    height: 39.5px;
    padding: 10px;
    border-bottom: 0.8px solid gray;
    display: flex;
    justify-content: space-between;
}

.content-header__first{
    flex-basis: 793px;
    height: 39.5px;
    display: flex;
    align-items: center;
}

.header-name,
.header-status,
.header-title{
    flex-basis: 140px;
    height: 29.5px;
    padding: 0 5px;
    display: flex;
}

.header-status select{
    flex-basis: 140px;
    height: 26px;
    background-color: #f4f5f6;
    border: 0;
    border-radius: 5px;
}

.header-name input,
.header-title input
{
    flex-basis: 116px;
    height: 14px;
    padding: 6px 12px;
    background-color: #f4f5f6;
    border: 0;
    border-radius: 5px;

}

.content-header__second{
    flex-basis: 259px;
    height: 39.5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_filter{
    width: 92px;
    height: 39.5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.header_filter > button {
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;  
}

.header__Down_up{
    flex-basis: 168px;
    height: 39.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_btn_down-up{
    width: 16px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.header_btn_filter{
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
}
/* =============================== */

/* ============Media======================== */
.toggle_menu{
    display: none;
}

@media only screen and (max-width: 423px) {
    .content-header{
        height: 103px;
        border: none;
        flex-direction: column;
    }

    .content-header__second{
        justify-content: flex-start;
    }
}

/* mobile: <768px */
@media only screen and (max-width: 767px) {
    .header__main{
        max-width: 508px;
    }

    .nav__main{
        max-width: 510px;
    }

    .nav__first{
        flex-basis: 300px;
    }

    .reset{
        display: none;
    }

    .content{
        max-width: 540px;
    }

    .content-header{
        height: 103px;
        border: none;
    }

    .content-header__first{
        flex-basis: 50%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .header-name,
    .header-status,
    .header-title{
        flex-basis: 100%;
    }

    .header-name > input,
    .header-title input,
    .header-status > select{
        flex-basis: 100%;
    }

    .header_btn_filter{
        font-size: 12.5px;
    }
    
    .content-header__second{
        flex-wrap: wrap;
    }
}

/* tablet: >768px - <992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__main{
        max-width: 808px;
    }

    .nav__main{
        max-width: 810px;
    }

    .content{
        max-width: 840px;
    }

}

@media only screen and (max-width: 991px) {
    .help{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .see-list{
        display: none;
    }
}

/* PC: >992px - <1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header__main{
        max-width: 1058px;
    }

    .nav__main{
        max-width: 1060px;
    }

    .content{
        max-width: 1060px;
    }
}
/* ============================== */
.sidebar__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
    z-index: 1000;
}.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    animation: fadeIn linear 0.2s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }   
}

/* Checked */
.taochiu:checked ~ .vcll{
    color: red;
}

.taochiu:checked ~ .action__insert_delete{
    display: block;
}

.taochiu:checked ~ .add-KHTN{
    display: none;
}

.ohno:checked ~ .overlay{
    display: block;
}

.ohno:checked ~ .sidebar__mobile{
    transform: translateX(0%);
}

@media only screen and (max-width: 1023px) {
    .nav__first-list-MOBILE{
        display: block;
    }

    .nav__first-list-PC{
        display: none;
    }

    .sidebar__PC{
        display: none;
    }

    .content__main{
        width: 100%;
    }
}
/* ZERO */
.content-all{
    width:100%;
}