table.datatable {
	width:100%;
	border: none;
	background:#fff;
}
table.datatable td.table_foot {
	border: none;
	background: #fff;
	text-align: center;
}
table.datatable tr.odd_col {
	background: none;
}
table.datatable tr.even_col {
	height: 50px;
}
table.datatable td {
	font-size:10pt;
	padding:5px 10px;
	border-bottom: 0.5px solid rgb(231, 228, 228);
	text-align: left;
}
table.datatable th {
	text-align: left;
	font-size: 8pt;
	padding: 10px 10px 7px;   
	text-transform: uppercase;
	color: #687178;
	font-family: sans-serif;
}
/* Chỉnh dữ liệu trong data */
.title_data{
	font-weight: 600;
	font-size: 13px;
}

.lead_data{
	display: flex;
	height: 100%;
	max-width: 100%;
	background-color: #f4f5f6;
	border-radius: 5px;
	color: #333c44;
}

.data__status-dot{
	display: block;
	height: 100%;
	width: 15px;
	display: flex;
	align-items: center;
	font-weight: 500;
	justify-content: center;
}

.data__status-content{
	font-weight: 500;
}


.lead__open-data{
	display: flex;
	max-width: 35%;
	background-color: #fff5f5;
	border-radius: 5px;
}

.lead__convert-data{
	display: flex;
	max-width: 40%;
	background-color: #EAF5EE;
	border-radius: 5px;
}

.data_open{
	color: #e24c4c;
}

.data_convert{
	color: #2F9D58;
}